
<nav id="sidebar" class="bg-black text-primary">

  <div>
    <ul class="pdt-5 mgt-5 list-unstyled components">
        <!-- <li class="pd-1">
            <a href="/dashboard"><i class="pd-2 bi bi-speedometer2"></i>  Dashboard</a>
        </li>
        <li class="pd-1">
            <a href="/creategame"><i class="pd-2 bi bi-plus-circle"></i>  Create a game</a>
        </li>
        <li class="pd-1">
            <a href="/gamestats"><i class="pd-2 bi bi-bar-chart"></i>  Game stats</a>
        </li>
        <li class="pd-1">
            <a href="/mygames"><i class="pd-2 bi bi-controller"></i>  My games</a>
        </li>
      <li class="pd-1">
        <a href="/myaccount"><i class="pd-2 bi bi-person"></i> My account</a>
    </li> -->
    <li class="pd-1">
            <a routerLink="/dashboard" class="closeSidebar"><i class="pd-2 bi bi-speedometer2"></i>  Dashboard</a>
        </li>
        <li class="pd-1">
            <a routerLink="/creategame" class="closeSidebar"><i class="pd-2 bi bi-plus-circle"></i>  Create a game</a>
        </li>
        <li class="pd-1">
            <a routerLink="/gamestats" class="closeSidebar"><i class="pd-2 bi bi-bar-chart"></i>  Game stats</a>
        </li>
        <li class="pd-1">
            <a routerLink="/mygames" class="closeSidebar"><i class="pd-2 bi bi-controller"></i>  My games</a>
        </li>
      <li class="pd-1">
        <a routerLink="/myaccount" class="closeSidebar"><i class="pd-2 bi bi-person"></i> My account</a>
    </li>
    </ul>
  </div>
</nav>




