<div class="outer">
    <div class="px-2">
        <nav class="navbar justify-content-between">
          <a class="navbar-brand"
            ><img width="160px" src="assets/logo.png" alt="Gamepoint logo"
          /></a>
        </nav>
      </div>
      <div class="heading">
          <h2 class="txt-primary text-center mgt-2 mgb-4">Create new password</h2>
      </div>
      <div class="main pdb-5">
        <div class="txt-primary modal-body">
            <div class="outer-form" id="1">
              <form [formGroup]="forgotPasswordForm">
                <div class="form-group mgb-2">
                  <label for="newPassword" class="mgb-2">New password</label>
                  <br />
                  <input
                    id="password"
                    ngModel
                    type="password"
                    name="newPassword"
                    placeholder="Enter your new password"
                    class="form-control p-3"
                    formControlName="newPassword"
                    required
                  />
                  <small
                    *ngIf="newPasswordValue?.invalid && newPasswordValue?.touched"
                    class="text-danger"
                    >Password is Required</small
                  >
                </div>
                <div class="form-group mgb-2">
                    <label for="confirmNewPassword" class="mgb-2">New confirm Password</label>
                    <br />
                    <input
                      id="confirmNewPassword"
                      ngModel
                      type="password"
                      name="confirmNewPassword"
                      placeholder="Confirm your new password"
                      class="form-control p-3"
                      formControlName="confirmNewPassword"
                      required
                    />
                    <small
                      *ngIf="confirmNewPasswordValue?.invalid && confirmNewPasswordValue?.touched"
                      class="text-danger"
                      >Confirm password is Required</small
                    >
                  </div>
                <br />
                <button [disabled]="this.forgotPasswordForm.invalid" (click)="forgotPassword()" class="btn-primary pd-1">
                    Submit
                </button>
                <br />
              </form>
            </div>
          </div>
      </div>
</div>
<app-dashboardfooter></app-dashboardfooter>
